[color]
    ui = auto
[diff]
    submodule = log
[status]
    submoduleSummary = true
[color "status"]
    untracked = red bold
    changed = red bold
[color "diff"]
    old = red bold
    new = blue bold
    meta = yellow
    frag = magenta bold
[push]
    default = simple
[core]
	excludesfile = ~/.gitignore

[include]
    path = ~/.gitconfig.local
